:root {
  --background-body: #292929;
  --background: #222222;
  --background-alt: #333333;
  --button-base: #1a1a1a;
  --button-hover: #0a0a0a;
  --muted-text: #bdbdbd;
  --muteded-text: #888888;
}

.muted {
  color: var(--muted-text);
}

.muteded {
  color: var(--muteded-text);
  margin-left: 20px;
  user-select: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.reason {
  margin-top: 20px;
  margin-bottom: 20px;
}

.error {
  margin-top: 50px;
  color: #ff6060;
}

.form {
  padding: 1px 25px 1px 25px;
  border-radius: 10px;
  background: var(--background-alt);
}